.App {
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1625225230517-7426c1be750c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTB8fGZvcm18ZW58MHx8MHx8&w=1000&q=80");
  min-width: 100%;
  min-height: 100%;
  position: fixed; 
  top: 0; 
  left: 0;
}

